@font-face {
    font-family: 'verizonFont';
    src: URL('./VERIZONNHGEDS-REGULAR.TTF') format('truetype');
}

@font-face {
    font-family: 'verizonBoldFont';
    src: URL('./VERIZONNHGEDS-BOLD.TTF') format('truetype');
}

html,

body {
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  background-color: black;
  font-family: verizonFont;
}


h1{
    margin:2px !important;
    font-size: 32px !important;
}

h2{
    margin:2px !important;
    font-size: 28px !important;
}

h3{
    margin:2px !important;
    font-size: 24px !important;
}

h4{
    margin:2px !important;
    font-size: 20px !important;
    font-weight: 700;
    font-family: verizonBoldFont;
    color: white !important;
}

h5{
    margin: 2px !important;
    color: white;
    font-size: 18px;
    font-weight: bold !important;
    font-family: verizonBoldFont;
}

h6{
    margin:2px !important;
    font-size: 15px !important;
    color: white;
}

p{
    margin: 2px !important; 
    color: white;
    font-weight: 300;
}

th{
    text-align: left;
}

.border{
    border-bottom: 1px solid #666;
    height: 1px !important;
    width:100%;
}

.container{
     margin: auto;
     width: 80%;
     height: 95% !important;
     position: absolute;
     padding-left: 10%;
     transform: translate(0%,0%);
}

  
.clientCover {
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}


.clientContainer{
    height: 100%;
    width: 100%;
    background-color: #666;
    z-index: -1;
}

.customerContainer{
    height: 230px;
    width: 100%;
    float: left;
    display: flex;
    margin-top: -200px;
    margin-left: -140px;
}

.clientControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-left: -100px;
    z-index: 2;
}

.colorVariantControls{
    z-index: 2;
    margin-top: -25%;
}

.customerImage{
    height: 230px;
    width: 350px;
}


.icon{
    color:#666;
    font-size: 25px !important;
}

.iconCircle{
   height: 60px;
   width: 60px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.iconLarge{
    font-size: 40px !important;
    color: #fff;
    cursor: pointer;
}


.iconLarge:hover{
    transform: scale(1.07);
}


.active{
    background-color: #666;
}

.inactive{
    background-color: red;
}

.black{
    color: black;
}

.grey{
    color: #666;
}

.white{
    color: #fff;
}


.center{
    text-align: center;
}

#customerVideoElement {
    height: 230px;
    width: 350px; 
    margin: 0px;
    padding: 0px;
    border: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 
    object-fit: cover !important;
}

#customerImageElement {
    height: 230px;
    width: 350px; 
    margin: 0px;
    padding: 0px;
    border: 0;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 
    object-fit: cover !important;
}


#clientVideoElement {
    height: 100%;
    width: 100%; 
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 
    object-fit: cover
}

.hideElement{
    display: none;
}

#render3DModel{
    touch-action: none;
    position:absolute;
    outline: none;
    width: 89%;
    height:80%;
}

#loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 50px;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}

.loaderLogo{
    width: 100px !important;
    height: 100px !important;
    animation: ver-rotate 5s infinite linear;
}

@keyframes ver-rotate
{
from
{
transform: rotateY(0deg);
}
to
{
transform: rotateY(360deg);
}
}

/* side nave opener */
.sideNavMenu{
    display: flex;
    float: right;
    margin-top: 30px;
    margin-right: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.navOpenerIcon{
   font-size: 50px !important;
   color: grey;
   cursor: pointer;
}
.navCloserIcon{
    font-size: 50px !important;
    color: white;
    cursor: pointer;
 }

.sideNavContainer{
    height: 100%;
    width: 100% !important;
    position: fixed;
    z-index: 2;
    background-color: #666;
    overflow-x: hidden;
    padding: 20px;
}

/* tabs */
.sideNavTabHeader{
    width: 95% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textTabLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.textTab{
    font-size: 22px;
    color: white;
}

.textTab:hover{
    font-weight: bold;
    font-family: verizonBoldFont;
}

.textTabContent {
    padding: 0px;
    display: none;
    padding-top: 20px !important;
    /* padding-bottom: 20px !important; */
    overflow: auto;
}

/* caller tab content */
.callerRow{
    display: flex;
    flex-direction: row !important; 
    width: 100% !important;
    height: fit-content;
    overflow: auto;
}

.callerColumnOne{
    width:40% !important;
    border-right: 2px solid white;
}

.callerColumnTwo{
    width:60% !important;
}

.deviceRow{
    display: flex;
    flex-direction: row;
    margin:10px 0px 20px 0px;
    /* overflow: scroll; */
    overflow: auto;
}

.deviceColumn{
    display:flex;
    flex-direction: column;
    height: fit-content;
    min-width: 100px;
}

.deviceImage{
    width: 50px;
    height:100px;
    margin-top: 10px;
}

table{
    width: 90%;
    padding-left: 20px;
}

.activeBold{
    font-weight: bold;
    font-family: verizonBoldFont;
}

/* devices tab content */

.activeBorder{
    border-bottom:3px solid red;
}

.deviceNames{
    font-size: 18px !important;
    color: white;
    font-weight: 400;
}


.alignLeft{
    float: left;
    color: red;
}

table{
    margin-left: -10px;
}


.ratingRow {
    display:flex;
 }
 
 .ratingText{
    padding-right: 15px;
 }
 
 .starColor {
     color: white;
     padding-left: 3px;
 }

 ul{
    display: flex;
    padding-inline-start: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    width: 38%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px !important;
    color: white;
    font-weight: 400;
 }

 .alignTogether{
    display: flex;
    padding-inline-start: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
 }

 ul:hover{
    transform: scale(1.02);
 }

 .brandList{
   display: block;
   width:90% !important;
 }

 .deviceList{
    display: none;
    width: 100% !important;
  }

  .deviceShowCase{
    display:none;
  }

 .smallIcon{
    color:white !important;
    font-size: 10px !important;
    text-align: center;
}

.deviceAvailableRow{
    display: flex;
    margin:10px 0px 20px 0px;
  overflow: auto;
    height: fit-content;
}

.largeColumn{
    width:60% !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.smallColumn{
    width:40% !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.smallColumn4{
    width:5% !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.deviceShowCase{
    display: none;
}

.deviceShowArea{
    display: none;
}

.viewDeviceImage{
   width: 100%;
   height: 200px;
   object-fit: contain;
}

.phoneColorSelector{
    display: flex;
    justify-content: space-evenly;
    height: 25px;
    margin-top: 10px;
}

.outlinedButton{
    width: 40%;
    padding: 5px 0px;
    background-color: white;
    border-radius: 50px;
    color:black;
    margin-top: 5px;
    cursor: not-allowed;
    margin-left: 30%;
    font-size: 15px;
    font-weight: bold;
    font-family: verizonBoldFont;
}

@media only screen and (max-width: 850px) {
    .container{
        width: 100% !important;
        height: 100% !important;
        overflow: scroll;
        padding-left: 0%;
    }
    
    .customerContainer{
        width: 100%;
        float: left;
        display: flex;
        margin-top: -100px;
        margin-left: 0px;
        height: fit-content;
    }

    .clientControls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        margin-left: 0px;
    }
    
    .iconLarge{
        color:white;
        font-size: 30px !important;
    }

    .iconCircle{
       height: 50px;
       width: 50px;
       border-radius: 100%;
       display: flex;
       justify-content: center;
        align-items: center;
        align-content: center;
    }

.activeBlue{
    color:#3399ff;
}


.hideInMobile{
        display: none;
}
  
}


