@font-face {
    font-family: 'verizonFont';
    src: URL('./VERIZONNHGEDS-REGULAR.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'verizonBoldFont';
    src: URL('./VERIZONNHGEDS-BOLD.TTF') format('truetype');
  }

html,
body {
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-image: linear-gradient(to top, rgba(51, 153, 255,0.3) 20%, rgba(51, 153, 255) 80%);
    font-family: verizonFont;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    margin:2px !important;
    font-size: 32px !important;
    color: #fff;
    font-weight: 300;
}

h4{
    margin:2px !important;
    font-size: 30px !important;
    color: #666;
    font-weight: 300;
}

h5{
    margin:2px !important;
    font-size: 25px !important;
    color: #fff;
    font-weight: 300;
}

h6{
    margin:2px !important;
    font-size: 22px !important;
    color: #666;
    font-weight: 300;
    padding-top:4px
}

p{
    margin:2px !important;
    font-size: 20px !important;
    color:#fff;
    font-weight: 300;
    padding-top:4px
}

.whiteLine{
    border-bottom: 1px solid #fff;
    height: 1px !important;
    width: 100%;
    margin:20px 0px 50px 0px;
}

.joiningCard{
    width:800px;
    height: fit-content !important;
    background-color: #fff;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    margin-top:30px;
    margin-bottom: 30px;
    padding:20px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joiningCard:hover{
    transform: scale(1.01);
}

.icon{
    color: #666;
    font-size: 80px !important;
}

.dottedLine{
    border-bottom: 4px dotted #fff;
    height: 1px !important;
    width: 700px;
    margin-top:40px;
}

.linedText{
    font-size: 22px !important;
    color:#fff;
    font-weight: 300;
    margin-top: 40px;
    text-decoration: underline;
    cursor: pointer;
}

.linedText:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 850px) {
    .container{
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    }

    h3{
        margin:2px !important;
        font-size: 22px !important;
        color: #fff;
        font-weight: 300;
    }
    
    h4{
        margin:2px !important;
        font-size: 20px !important;
        color: #666;
        font-weight: 300;
    }
    
    h5{
        margin:2px !important;
        font-size: 18px !important;
        color: #fff;
        font-weight: 300;
    }
    
    h6{
        margin:2px !important;
        font-size: 15px !important;
        color: #666;
        font-weight: 300;
        padding-top:4px
    }
    
    p{
        margin:2px !important;
        font-size: 12px !important;
        color:#fff;
        font-weight: 300;
        padding-top:4px
    }

.joiningCard{
    width: 80% !important;
    height: fit-content !important;
    background-color: #fff;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    margin-top:30px;
    margin-bottom: 30px;
    padding:20px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    color: #666;
    font-size: 40px !important;
}

.dottedLine{
    border-bottom: 4px dotted #fff;
    height: 1px !important;
    width: 76%;
    margin-top:40px;
}

.linedText{
    font-size: 15px !important;
    color:#fff;
    font-weight: 300;
    margin-top: 40px;
    text-decoration: underline;
}
}

@media only screen and (max-height: 700px) {
    .container{
        width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       align-content: center;
       padding: 100px 0px;
       }
}
